doctype html
html 
    head 
        title= pageTitle
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Updates
        div.form-container
            form(action="/update-pets", method="POST")
                label(for="name") Name:
                input(type="text", name="name", required)
                label(for="breed") Breed:
                input(type="text", name="breed")
                label(for="weight") Weight:
                input(type="number", name="weight")
                button(type="submit") Add New Pet
            a(href="/homepage") Back to Homepage